.container{
    flex: 1;
    display: inline;
    align-items: center;
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #92709d, #e97f6d);
}
.desc{
    flex: 1;
    font-size: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content{
    margin-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}
.contentdesc{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img1{
    width: 300px;
    height: 300px;
}
.button{
    background-color: #ffa200;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}