.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.content{
    display: flex;
    align-items: center;
}
.title{
    margin-top: 20px;
}
.form{
    flex: 1;
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
    align-items: center;

}
.text, .textarea{
    padding: 3px;
    margin: 5px;
    background: transparent;
    outline: none;
    color: black;
    border: 3px solid #ffa200;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
}
.button{
    background-color: #ffa200;
    margin-top: 3px;
    margin-bottom: 20px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 70px;
    display: flex;
    flex-direction: column;
    
}
.img{
    flex:1;
    width: 700px;
    height: 500px;
}