body  {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.dark{
  background-color: black;
  color:white;
}
.light{
  background-color: white;
  color: #000;
}
a{
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
