.container{
    display: flex;
    align-items: center;
    height: 100%;
    gap:100px
}
.dark{
    background-color: black;
    color:white;
}
.light{
    background-color: white;
    color: #000;
}
.item{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.title{
    font-size: 40px;
    background: linear-gradient(to right, #ffa200, #bbb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.desc{
    font-size: 20px;
}
.button{
    background-color: #ffa200;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    width: 105px;
}
.img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}