.container{
    margin-top: 60px;
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    gap: 50px;
}
.list{
    padding: 10px;
    width: 150px;
    height: 100px;
    background: linear-gradient(to top, #fceabb, #f8b500);
    border-radius: 10px;
}
.list:nth-child(even){
    background: linear-gradient(to top, #aae3f7, #6DD5FA);
}
.list:hover{
    cursor: pointer;
    background: linear-gradient(to bottom, #fceabb, #f8b500);
}
.list:nth-child(even):hover{
    cursor: pointer;
    background: linear-gradient(to bottom, #aae3f7, #6DD5FA);
}
.list h3{
    margin-top: 20px;
    text-align: center;
}