.navbar{
    margin-top: 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: bold;
    font-size: 30px;
}
.links{
    display: flex;
    gap: 20px;
}
.profile {
    padding: 5px;
}