.footer{
    height: 50px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgSocial{
    display: flex;
    gap: 10px;
}
.icon{
    opacity: 0.7;
    cursor: pointer;
}