.toggle{
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: center;
    width: 72px;
    height: 34px;
    border: 3px #ffa200 solid;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.togglelight{
    background: linear-gradient(to right, #ffcc73, #ffffff);
}
.toggledark{
    background: linear-gradient(to right, #ffcc73, #000000);
}
.button{
    background: transparent;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 10px;
}