.container{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    background-color: #297fb968;
}
.poster{
    width: 250px;
    height: auto;
    padding: 10px;
    text-align: center;
    
}
.imgs{
    margin-top: 5%;
}
.poster h5{
    font-weight: bold;
}